.Navber{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Navber .logo{
    width: 150px;
}
.navberMenu{
    display: flex;
    list-style: none;
    gap:20px;
    color:#49557e;
    font-size:18px;
}
.navberright{
    display: flex;
    align-items: center;
    gap:40px;
}
.Navber button{
    background:transparent;
    font-size: 16px;
    color:#49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;

}
.Navber button:hover{
    background-color: #fff4f2;
}
.navberMenu a.active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    
}
.navberMenu a{
    cursor: pointer;
}
.navbersearchicon{
    position: relative;
}
.navbersearchicon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top:-8px;
    right:-8px;
}
.navberprofile{
    position: relative;
}
.navprofiledropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navberprofile:hover .navprofiledropdown{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 5px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}
.navprofiledropdown li{
    display: flex;
    align-items: center;
    gap:10px;
    cursor: pointer;
}
.navprofiledropdown img{
    width: 20px;
}
.navprofiledropdown li:hover{
    color: tomato;
}
@media(max-width:1050px){
    .Navber .logo{
        width: 140px;
    }
   .navberMenu{
    gap:20px;
    font-size: 17px;
   }
   .navberright{
    gap:30px;
   }
   .navberright img{
    width: 22px;
   }
   .navberright button{
    padding: 8px 25px;
   }
}
@media (max-width:900px){
    .Navber .logo{
        width: 120px;
    }
   .navberMenu{
    gap:15px;
    font-size: 16px;
   }
   .navberright{
    gap:20px;
   }
   .navberright img{
    width: 20px;
   }
   .navberright button{
    padding: 7px 20px;
    font-size: 15px;
   }
}
@media(max-width:750px){
    
   .navberMenu{
    display: none;
   }
   
}
 
 